---
import PageLayout from "@/layouts/PageLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import data from "@/data/cursos.json";
import type { Course } from "@/data/cursosTypes";
import { getStaticPaths } from "../blog/[...slug].astro";

const cursos: Course[] = data;

// props

const { curso } = Astro.props;
---

<PageLayout titulo="" descripcion="" imagen="">
    <Header />
    <main>
        <h1>Curso: {curso}</h1>
        <p>Este es el curso {curso}</p>
    </main>
    <Footer />
</PageLayout>
