---
const today = new Date();
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
---

<footer class="bg-gray-800 text-white py-8">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div></div>
      <!-- <div>
        <h3 class="text-lg font-semibold mb-4">Lista de correo</h3>
        <p class="text-sm mb-2">
          Suscribite a nuestra lista de correo para recibir las últimas noticias
        </p>
        <form class="flex">
          <Input
            type="email"
            placeholder="Your email"
            className="rounded-r-none"
          />
          <Button type="submit" className="rounded-l-none">Subscribe</Button>
        </form>
      </div>
    </div> -->
      <div class="mt-8 pt-4 border-t border-gray-700 text-center text-sm">
        Administrado por el <a
          hover:text-green-100
          href="https://labtecnosocial.org/">Lab TecnoSocial</a
        >, {new Date().getFullYear()}
      </div>
    </div>
  </div>
  <style>
    footer {
      padding: 2em 1em 6em 1em;
      background: linear-gradient(var(--gray-gradient)) no-repeat;
      color: rgb(var(--gray));
      text-align: center;
    }
  </style>
</footer>
