---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
---

<section class="bg-gray-100 py-20">
    <div class="container mx-auto px-4 text-center">
        <h1 class="text-4xl font-bold mb-4">{SITE_TITLE}</h1>
        <p class="text-xl mb-8">{SITE_DESCRIPTION}</p>
    </div>
</section>
